#data {
  width: 500px;
  background: greenyellow;
  border: 1px dashed black;
  border-color: red;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
 }

 #logo {
  width: 220px;
  border: 2px dashed cyan;
  height: 200px;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
 }